SUPABASE_URL=https://aedccjfdsdqlugalpwxy.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlZGNjamZkc2RxbHVnYWxwd3h5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MjMzMjcsImV4cCI6MjA5MzI5OTMyN30.0UlL1QZszTdS400mvISeP9330sIKEooNGqwP1DM4wpw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlZGNjamZkc2RxbHVnYWxwd3h5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzcyMzMyNywiZXhwIjoyMDkzMjk5MzI3fQ.aNJ3uGsNC9hgRlsabX-VJ3d5BWcY5jUTt-XSg5h7C_Q
SUPABASE_STORAGE_BUCKET=question-assets
